.navbar-brand img{
    max-height: 25px;
    height: auto;
  }
  
  .nav-link{
    font-size: 1.12rem;
  }
  
  .calltoaction{
    color: #FF4500 !important;
  }
  
  .calltoaction:hover{
    color: #8A2804 !important;
  }
  
  .textmaincolor{
    color: #FF4500 !important;
  }